@import "_vars.scss";
@import "_global.scss";
@import "_preloader.scss";
@import "_scroll.scss";
.container {
  margin-top: 80px;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  height: 50px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  color: $white-color;
  width: 50px;
  overflow: hidden;

  &:hover {
    height: 100%;
    background-color: $dark-blue;
  }

  &.open-menu {
    height: 100%;
    background-color: $dark-blue;
  }

  &__hamburger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $tematic-color;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(0deg);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);

    &:hover {
      transform: rotate(360deg);
      box-shadow: none;
      transition: all 0.5s ease;
    }

    span {
      width: 60%;
      height: 2px;
      background-color: $white-color;
      display: block;

      &:nth-child(2) {
        margin-top: 3px;
      }
      &:nth-child(3) {
        margin-top: 3px;
      }
    }
    &.open {
      background-color: red;
    }
  }

  &__list {
    margin-top: 40px;

    li {
      color: $white-color;
      width: 250px;

      &:nth-child(1) {
        text-align: center;
      }
    }
    a {
      color: $white-color;
    }
    i {
      font-size: 24px;
      padding: 10px;
      width: 50px;
      text-align: center;
    }

    &-dropdown {
      width: 100%;
      display: block;
      position: relative;
      transition: all 0.3s linear;

      &::after {
        content: "";
        background: url(../img/next.svg);
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        background-position: center;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 15px;
      }

      &:hover {
        background-color: $ligth-blue;
      }

      &.active {
        background-color: $ligth-blue;
        &::after {
          content: "";
          background: url(../img/down-arrow.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
.dropdown-items {
  height: 0;
  overflow: hidden;
  text-align: center;
  background-color: #0c3455;

  li {
    padding: 5px;

    &:focus,
    :hover {
      text-decoration: underline;
    }
  }
}
.active + .dropdown-items {
  width: 100%;
  height: auto;
  padding: 0;
  margin-left: 0;
}
.open-menu {
  width: 250px;
  overflow: hidden;
  height: 100%;
  background-color: $dark-blue;
  transition: all 0.5s ease;
}
.open {
  position: relative;
  transition: all .3s ease-in-out;
  span {
    &:nth-child(1) {
      position: absolute;
      transform: rotate(-45deg);
      transition: all .3s ease-in-out;
    }
    &:nth-child(2) {
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    &:nth-child(3) {
      position: absolute;
      transform: rotate(-140deg);
      top:16px;
      transition: all .3s ease-in-out;
    }
  }
}
.header {
  display: flex;
  align-items: center;

  &-titles {
    &__main {
      font-weight: 400;
      font-size: 60px;
    }

    &__subtitle {
      max-width: 240px;
      font-size: 24px;
    }
  }
}
.search {
  width: 100%;

  &-form {
    &__title {
      font-size: 24px;
    }
    label {
      width: 100%;
    }
    input {
      border-radius: 5px;
    }
  }
}

.tv-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 3rem;

  &__item {
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, 0.75);
    border-radius: 10px;
    img {
      height: 300px;
      width: 200px;
    }
    a {
      min-height: 370px;
      color: $black-color;
    }
  }
}

.tv-card {
  &__title {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 0;
  }

  &__vote {
    position: absolute;
    background-color: #000;
    top: 10px;
    padding: 5px;
    width: 35px;
    text-align: center;
    border: 2px solid green;
    color: $white-color;
    border-radius: 50%;
    left: 10px;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  &-wrapper__img {
    position: absolute;
    left: -100px;
    width: 185px;
    height: 278px;
    box-shadow: 2px 2px 5px 1px rgba(53, 117, 184, 0.49);
    img {
      height: 278px;
      width: 185px;
    }
  }

  &-body__content {
    width: 100%;
    padding-left: 80px;
    overflow-y: auto;
    max-height: 505px;
  }
  &__link {
    padding: 5px 10px;
    color: $ligth-blue;
    position: relative;
    transition: all 0.5s ease;
    &::before {
      @extend %before-after-styles;
      left: -5px;
      transition: all 0.5s ease;
    }
    &::after {
      @extend %before-after-styles;
      right: -5px;
      transition: all 0.5s ease;
    }

    &:hover {
      &::before {
        @extend %before-after-styles-hover;
        top: 0;
      }
      &::after {
        @extend %before-after-styles-hover;
        top: 100%;
      }
    }
  }
}
